body {
    margin: 0%;
    padding: 0%;
}

#songStatus {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
}

#loadingText {
    color: white;
    font-size: 30px;
}

.progressBar {
    height: 30px;
    top: 3px;
    background: green;
}

.progressBarBorder {
    border: 2px solid white;
    width: auto;
    height: 32px;
}

.p5Canvas {
    display: block;
    margin: 0%;
    padding: 0%;
}

.songDetailsHolder {
    position: absolute;
    top: 5%;
    left: 5%;
}

#songName {
    color: white;
    font-size: 40px;
    text-decoration: underline;
    visibility: hidden;
}

#songAuthor {
    color: white;
    font-size: 25px;
    visibility: hidden;
}